body{
    
    background-color: rgb(57, 13, 94);
    color: ghostwhite;
    text-align: center;
    font-size: larger;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
header{
    color: rgb(244, 119, 11);
    font-size: 50px;
}
.getSbuttons{
    grid-column-start: 2;
    grid-column-end: 3;
}
.blinkdiv{
    grid-column-start: 1;
    grid-column-end: 6;
}
.container{
    display: grid;
    grid-template-columns: 0.33fr 0.33fr 0.33fr;
    height: auto;
}
h1{
    color: rgb(244, 119, 11);
    font-size: 75px;
    font-family: 'Creepster', sans-serif;
}
button{
    background-color: rgb(225, 160, 8);
    padding: 25px;
    text-decoration: wavy;
    font-size: larger;
    font-family: sans-serif;
    border-radius: 60%;
}
span{
    background-color: rgb(41, 163, 102);
    padding: 25px;
    text-decoration: wavy;
    font-size: larger;
    font-family: sans-serif;
}
/* div{
    background-color: rgb(39, 108, 107);
    color: ghostwhite;
    text-align: center;
    font-size: larger;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */
#skeleton
{
    background-image: url("https://img.freepik.com/premium-photo/halloween-horror-scary-background-with-zombie-skeleton-ghost-generative-ai_124507-63949.jpg");
    background-size: 1480px;
}
#gate
{
    background-image: url("https://img.freepik.com/premium-photo/creepy-looking-gate-is-surrounded-by-pillars-yellow-glow_250469-22258.jpg");
    background-size: 1750px;
    color: rgb(255, 255, 255);
    top: 80%;
    bottom: 0%;
    margin-right: 0%;
    margin-left: 0%;
}
#trav{
position: unset;
top: 80%;
bottom: 50%;
margin-right: 0%;
margin-left: 0%;
}
@-webkit-keyframes blackGrey{
    0%{background-color: black;}
    50%{background-color: black;}
    51%{background-color: grey;}
    100%{background-color: grey;}
}
.blinkdiv{
    height: 80px;
    background-color: black;
    -webkit-animation-name: blackGrey;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;
}
img:hover{
    transform: scale(1.5);
}

.tooltip {
    position: static;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  

    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  audio{
    visibility: hidden;
  }
  #boiler{
    color: red;
  }
  p{
    background-color:white;
    color: blueviolet;
  } 

  #homeStart{
    width: 50px;
    height: 50px;
  }

  @media screen and (min-width: 0px) and (max-width: 400px) {
    body { 
        display: flex;
        grid-template-columns: 0.2fr 0.2fr;
        background-color: red; }
}
@media screen and (min-width: 401px) and (max-width: 599px) {
    body { background-color: green; }
}
@media screen and (min-width: 600px) {
    body { background-color: purple; }
}